$primary: #252525;
$secondary: #9f9f9f;
$background: #ffffff;
$text: #03081c;
$secondary-text: #f1f1f1;
$label-text: #9f9f9f;
$white: #f8f8f8;
$cancel: #dfdfdf;
$gray: #9f9f9f;
$error: #dc2d2d;
$border-color: rgba($primary, 0.15);
