@import '../theme/customer/colors';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  color: $text;
  background-color: $background;
  font-family: "DM Sans", serif;
}


.layout {
  height: 100vh;
  overflow: auto;
  background: $background;
}

a {
  text-decoration: none;
  color: $text;
}