@import '../../../../theme/admin/colors';

.textarea {
  outline: none;
  padding: 8px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 4px;
  resize: vertical;
}